[workspace]
authors = ["Elian NEPPEL <elian.dev@posteo.com>"]
channels = ["robostack-humble", "conda-forge"]
name = "afor"
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64", "linux-aarch64"]
version = "0.0.0"
preview = ["pixi-build"]

# Dependencies used by all environments
[dependencies]
python = ">=3.10,<=3.14"
# Build tools
compilers = "*"
cmake = "*"
pkg-config = "*"
make = "*"
ninja = "*"
# ROS specific tools
rosdep = "*"
colcon-common-extensions = "*"

[target.linux.dependencies]
libgl-devel = "*"

# Define all the different ROS environments
# Each environment corresponds to a different ROS distribution
# and can be activated using the `pixi run/shell -e <environment>` command.
[environments]
default = { features = ["jazzy", "dev", "zenoh"] }
humble = { features = ["humble", "dev", "zenoh"] }
jazzy = { features = ["jazzy", "dev", "zenoh"] }
kilted = { features = ["kilted", "dev", "zenoh"] }
zenoh = { features = ["zenoh", "dev"] }
dev = { features = ["dev"] }

[pypi-dependencies]
asyncio-for-robotics = { path=".", editable = true }


[feature.dev.pypi-dependencies]
asyncio-for-robotics = { path=".", extras = ["dev"] , editable = true }

[feature.zenoh.pypi-dependencies]
asyncio-for-robotics = { path=".", extras = ["zenoh"] , editable = true }

### ROS Humble ####
[feature.humble]
channels = ["https://prefix.dev/robostack-humble"]

[feature.humble.dependencies]
ros-humble-ros-core = "*"
ros-humble-rmw-zenoh-cpp = "*"

### ROS Jazzy ####
[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-ros-core = "*"
ros-jazzy-rmw-zenoh-cpp = "*"

### ROS Kilted ####
[feature.kilted]
channels = ["https://prefix.dev/robostack-kilted"]

[feature.kilted.dependencies]
ros-kilted-ros-core = "*"
ros-kilted-rmw-zenoh-cpp = "*"

[package] 
name = "asyncio_for_robotics"
version = "1.2.0"

[package.build] 
backend = { name = "pixi-build-python", version = "==0.4.0" }

[package.host-dependencies] 
pip = "*"
setuptools = ">=58.2.0"

[package.run-dependencies] 
python = ">=3.11"

# [package.run-dependencies] 
# python = "<3.11"
# async-timeout = ">=3.0"
# typing_extensions = "*"
