name: Python - crossplatform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        python-version: ["py310", "py311", "py312", "py313", "py314"]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4
    - uses: prefix-dev/setup-pixi@v0.9.2
      with:
        cache: true
        environments: ${{ python-version }}
    - name: Test with pixi+pytest
      run: |
        pixi run ${{ python-version }} pytest ./tests -s -vv
