name: ROS 2

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ros-version: ["humble","jazzy"]

    steps:
    - uses: actions/checkout@v4
    - uses: prefix-dev/setup-pixi@v0.9.2
      with:
        # cache: true
        locked: true
        environments: ${{ matrix.ros-version }}
    - name: Test with pytest
      run: |
        pixi run -e ${{ matrix.ros-version }} pytest ./tests
